

<footer id="footer" class="footer" style="margin-top:64px;">
<div class="w-container">
    <div class="footer-flex-container">
        <a href="/" class="footer-logo-link w-inline-block" title="Livicom Türkiye">
            <img src="static/img/logo/Logo_Distributor_white.svg" alt="Livicom Tütkiye" class="footer-image">
        </a>

    <div>
        <p class="footer-heading">Livicom Türkiye</p>
        <ul role="list" class="list w-list-unstyled">
        <li><a href="/alarm-ve-otomasyon-sistemleri" class="footer-link">Alarm ve Otomasyon Sistemleri</a></li>
        <li><a href="/akilli-ev-sistemleri-uygulamasi" class="footer-link">Mobil Uygulama</a></li>
        <li><a href="/akilli-ev-teknolojisi" class="footer-link">Teknoloji</a></li>
        <li><a href="/blog-yazilari" class="footer-link">Blog</a></li>
        <li><a href="/hakkimizda" class="footer-link">Hakkımızda</a></li>
        </ul>
    </div>
    <div class="div-block footer-contact">
        <h4 class="footer-heading">İletişim</h4>
        <div class="text-block">2817 Sokak No:7 Mersinli Konak / İzmir<br>
            <strong>Tel: </strong><a href="tel:+902324460600">0232 446 06 00</a><br>
            <strong>Eposta: </strong><a href="mailto:info@livicomturkiye.com">info@livicomturkiye.com</a>
        </div>
    </div>
    </div>
</div>
</footer>