

<footer id="footer" class="footer">
<div class="w-container">
    <div class="footer-flex-container"><a href="/" class="footer-logo-link w-inline-block"><img src="static/img/logo/Logo_Turkish.svg" alt="" class="footer-image"></a>
    <div>
        <p class="footer-heading">Livicom Türkiye</p>
        <ul role="list" class="list w-list-unstyled">
        <li><a href="/akilli-ev-sistemleri" class="footer-link">Akıllı Ev Sistemleri</a></li>
        <li><a href="/akilli-ev-sistemleri-uygulamasi" class="footer-link">Mobil Uygulama</a></li>
        <li><a href="/akilli-ev-teknolojisi" class="footer-link">Teknoloji</a></li>
        <li><a href="/hakkimizda" class="footer-link">Hakkımızda</a></li>
        </ul>
    </div>
    <div class="div-block">
        <h4 class="footer-heading">İletişim</h4>
        <div class="text-block">2817 Sokak No:7 Mersinli Konak / İzmir, 1<br><strong>Phone:</strong> +90 232 441 71 74<br><strong>Eposta:</strong> info@livicomturkiye.com</div>
    </div>
    </div>
</div>
</footer>