---
layout: webflow
title: Alarm, Otomasyon ve Güvenlik Sistemleri Blog | Livicom Türkiye
description: Livicom Türkiye'nin iletişim sayfası.
image: static/img/prn_7363.jpg
---



<div class="article">
    <div class="post-head">
        <h1 class="post-page-title">{{ page.title }}</h1>
        <p class="post-page-description">{{ page.description }}</p>
        <div class="authot-name">
            {% assign author = site.authors | where: 'name', page.author | first %}
            {% if author %}
            - <a href="{{ author.url }}">{{ author.display_name }}</a>
            {% endif %}
        </div>
        <div class="publish-date">{{ page.date | date_to_string }}<br></div>
    </div>
    <div class="post-cover" style='background-image:url("{{ page.cover }}");'></div>
    <div class="post-body">
        <p class="post-content">{{ content }}</p>
    </div>
</div>

<style>
    div.article .post-body h2 {
        margin-top: 64px;
    }
     div.article .post-body h3{
        margin:32px 0;
    }
    div.article .post-body p {
        margin-bottom:16px;
        line-height: 1.7;
        font-size: 18px;;
    }
</style>